<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--<link rel="stylesheet" href="../stylesheet/style.css">-->
</head>
<body>
<h1>This is the Index Page</h1>
<form action="/login" method="post">
    <label for=""><span>Account:</span><input type="text" name="username"></label>
    <label for=""><span>Password:</span><input type="password" name="password"></label>
    <input type="submit" value="Login">
</form>
<a href="/register">A new for express login?</a>
</body>
</html>