<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="form-area">
    <h1 class="title">This is the Register Page</h1>
    <form action="/register" method="post" id="reg-form">
        <label for=""><span>username:</span><input type="text" name="username" placeholder="please input your username"></label>
        <label for=""><span>password:</span><input type="password" name="password"
                                                   placeholder="please input your password"></label>
        <label for=""><span>confirm:</span><input type="password" name="password-confirm"
                                                  placeholder="please confirm your password"></label>
        <label><input type="submit" value="Register"/></label>
    </form>
    <div class="link"><a href="/login">Already has a username?</a></div>

</div>
<script>
  (function (g, undefined) {
    let form = document.querySelector('#reg-form')
    let username = document.querySelector('input[name=username]')
    let password = document.querySelector('input[name=password]')
    let rePassword = document.querySelector('input[name=password-confirm]')
    form.addEventListener('submit', function (e) {
      e = e || e.event
      e.preventDefault()
      if (username.value === '' || password.value === '') {
        alert('please input the username and password')
        return false
      }
      if (rePassword.value === '' || rePassword.value !== password.value) {
        alert('please check your password-confirm')
        return false
      }
      this.submit()

    }, false)
  })(this)
</script>
</body>
</html>